@font-face {
    font-family: 'Mohol';
    src: url('https://github.com/deepcriatividade/mohol/blob/main/subset-Mohol-Bold.eot');
    src: url('https://github.com/deepcriatividade/mohol/blob/main/subset-Mohol-Bold.eot?#iefix') format('embedded-opentype'),
        url('https://github.com/deepcriatividade/mohol/blob/main/subset-Mohol-Bold.woff2') format('woff2'),
        url('https://github.com/deepcriatividade/mohol/blob/main/subset-Mohol-Bold.woff') format('woff'),
        url('https://github.com/deepcriatividade/mohol/blob/main/subset-Mohol-Bold.ttf') format('truetype'),
        url('https://github.com/deepcriatividade/mohol/blob/main/subset-Mohol-Bold.svg#Mohol-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Mohol';
    src: url('https://github.com/deepcriatividade/mohol/blob/main/subset-Mohol-Light.eot');
    src: url('https://github.com/deepcriatividade/mohol/blob/main/subset-Mohol-Light.eot?#iefix') format('embedded-opentype'),
        url('https://github.com/deepcriatividade/mohol/blob/main/subset-Mohol-Light.woff2') format('woff2'),
        url('https://github.com/deepcriatividade/mohol/blob/main/subset-Mohol-Light.woff') format('woff'),
        url('https://github.com/deepcriatividade/mohol/blob/main/subset-Mohol-Light.ttf') format('truetype'),
        url('https://github.com/deepcriatividade/mohol/blob/main/subset-Mohol-Light.svg#Mohol-Light') format('svg');
    font-weight: light;
    font-style: normal;
}

@font-face {
    font-family: 'Mohol';
    src: url('https://github.com/deepcriatividade/mohol/blob/main/subset-Mohol-Black.eot');
    src: url('https://github.com/deepcriatividade/mohol/blob/main/subset-Mohol-Black.eot?#iefix') format('embedded-opentype'),
        url('https://github.com/deepcriatividade/mohol/blob/main/subset-Mohol-Black.woff2') format('woff2'),
        url('https://github.com/deepcriatividade/mohol/blob/main/subset-Mohol-Black.woff') format('woff'),
        url('https://github.com/deepcriatividade/mohol/blob/main/subset-Mohol-Black.ttf') format('truetype'),
        url('https://github.com/deepcriatividade/mohol/blob/main/subset-Mohol-Black.svg#Mohol-Black') format('svg');
    font-weight: black;
    font-style: normal;
}

@font-face {
    font-family: 'Mohol';
    src: url('https://github.com/deepcriatividade/mohol/blob/main/subset-Mohol-Regular.eot');
    src: url('https://github.com/deepcriatividade/mohol/blob/main/subset-Mohol-Regular.eot?#iefix') format('embedded-opentype'),
        url('https://github.com/deepcriatividade/mohol/blob/main/subset-Mohol-Regular.woff2') format('woff2'),
        url('https://github.com/deepcriatividade/mohol/blob/main/subset-Mohol-Regular.woff') format('woff'),
        url('https://github.com/deepcriatividade/mohol/blob/main/subset-Mohol-Regular.ttf') format('truetype'),
        url('https://github.com/deepcriatividade/mohol/blob/main/subset-Mohol-Regular.svg#Mohol-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Mohol';
    src: url('https://github.com/deepcriatividade/mohol/blob/main/subset-Mohol-Ultra.eot');
    src: url('https://github.com/deepcriatividade/mohol/blob/main/subset-Mohol-Ultra.eot?#iefix') format('embedded-opentype'),
        url('https://github.com/deepcriatividade/mohol/blob/main/subset-Mohol-Ultra.woff2') format('woff2'),
        url('https://github.com/deepcriatividade/mohol/blob/main/subset-Mohol-Ultra.woff') format('woff'),
        url('https://github.com/deepcriatividade/mohol/blob/main/subset-Mohol-Ultra.ttf') format('truetype'),
        url('https://github.com/deepcriatividade/mohol/blob/main/subset-Mohol-Ultra.svg#Mohol-Ultra') format('svg');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Mohol';
    src: url('https://github.com/deepcriatividade/mohol/blob/main/subset-Mohol-Thin.eot');
    src: url('https://github.com/deepcriatividade/mohol/blob/main/subset-Mohol-Thin.eot?#iefix') format('embedded-opentype'),
        url('https://github.com/deepcriatividade/mohol/blob/main/subset-Mohol-Thin.woff2') format('woff2'),
        url('https://github.com/deepcriatividade/mohol/blob/main/subset-Mohol-Thin.woff') format('woff'),
        url('https://github.com/deepcriatividade/mohol/blob/main/subset-Mohol-Thin.ttf') format('truetype'),
        url('https://github.com/deepcriatividade/mohol/blob/main/subset-Mohol-Thin.svg#Mohol-Thin') format('svg');
    font-weight: thin;
    font-style: normal;
}
